logging:
  pattern:
    console: log@%clr(%d{mm:ss SSS}){blue}%clr(-%5p){red} [%logger{20}] =%clr(%m){magenta}%n
  level:
    com.lan: debug
    freemarker.cache: debug
    org.springframework: WARN
    org.hibernate: WARN

spring:
  freemarker:
    charset: UTF-8
    cache: false
  datasource:
    name: test
    url: jdbc:mysql://localhost:3307/work?useUnicode=true&characterEncoding=utf8&useSSL=true&allowMultiQueries=true
    username: root
    password: root
    ###### 使用druid数据源 ############
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: com.mysql.jdbc.Driver
    filters: stat
    maxActive: 20
    initialSize: 1
    maxWait: 60000
    minIdle: 1
    timeBetweenEvictionRunsMillis: 60000
    minEvictableIdleTimeMillis: 300000
    validationQuery: select 'x'
    testWhileIdle: true
    testOnBorrow: false
    testOnReturn: false
    poolPreparedStatements: true
    maxOpenPreparedStatements: 20
  http:
    multipart:
      max-file-size: 8Mb
      max-request-size: 20Mb
server:
  port: 8180