<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lan.dao.RegulationMapper">
    <!--auto generated Code-->
    <resultMap id="AllColumnMap" type="com.lan.model.Regulation">
        <result column="regu_id" property="reguId"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="category" property="category"/>
        <result column="department" property="department"/>
    </resultMap>

    <!--auto generated Code-->
    <sql id="all_column">
        `regu_id`,
        `title`,
        `content`,
        `category`,
        `department`
    </sql>

    <select id="selectRegulationById" resultMap="AllColumnMap">
        SELECT <include refid="all_column"/> FROM regulation WHERE regu_id=#{reguId}
    </select>

    <select id="selectRegulationList" resultMap="AllColumnMap">
        SELECT <include refid="all_column"/> FROM regulation
    </select>

    <select id="getRegulationNames" resultMap="AllColumnMap">
        SELECT `regu_id`,`title` FROM regulation
    </select>

    <select id="selectRegualtionsByIds" resultMap="AllColumnMap">
        SELECT <include refid="all_column"/> FROM regulation WHERE regu_id IN
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>

    <!--auto generated Code-->
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="pojo.reguId">
        INSERT INTO regulation
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.reguId!=null"> `regu_id`,</if>
            <if test="pojo.title!=null"> `title`,</if>
            <if test="pojo.content!=null"> `content`,</if>
            <if test="pojo.category!=null"> `category`,</if>
            <if test="pojo.department!=null"> `department`,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.reguId!=null">#{pojo.reguId},</if>
            <if test="pojo.title!=null">#{pojo.title},</if>
            <if test="pojo.content!=null">#{pojo.content},</if>
            <if test="pojo.category!=null">#{pojo.category},</if>
            <if test="pojo.department!=null">#{pojo.department},</if>
        </trim>
    </insert>

    <!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO regulation (
        <include refid="all_column"/>
        )VALUES
        <foreach collection="pojos" item="pojo" index="index" separator=",">
            (
            #{pojo.reguId},
            #{pojo.title},
            #{pojo.content},
            #{pojo.category},
            #{pojo.department}
            )
        </foreach>
    </insert>

    <!--auto generated Code-->
    <update id="update">
        UPDATE regulation
        <set>
            <if test="pojo.title != null"> `title` = #{pojo.title}, </if>
            <if test="pojo.content != null"> `content` = #{pojo.content}, </if>
            <if test="pojo.category != null"> `category` = #{pojo.category}, </if>
            <if test="pojo.department != null"> `department` = #{pojo.department} </if>
        </set>
        WHERE regu_id = #{pojo.reguId}
    </update>

<!--auto generated by codehelper on 2017-03-12 13:05:44-->
    <delete id="deleteByReguId">
        DELETE FROM regulation
        WHERE `regu_id`=#{reguId}
    </delete>
</mapper>

