<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lan.dao.WorkHistoryMapper">
    <!--auto generated Code-->
    <resultMap id="AllColumnMap" type="com.lan.model.WorkHistory">
        <result column="unit_id" property="unitId"/>
        <result column="work_id" property="workId"/>
        <result column="name" property="name"/>
        <result column="type" property="type"/>
        <result column="status" property="status"/>
        <result column="limit" property="limit"/>
    </resultMap>

    <!--auto generated Code-->
    <sql id="all_column">
        `unit_id`,
        `work_id`,
        `name`,
        `type`,
        `status`,
        `limit`
    </sql>

    <select id="getWorkHistoryByUnitId" resultMap="AllColumnMap">
        select <include refid="all_column"/> from unit_work where unit_id=#{unitId}
    </select>

    <!--auto generated Code-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="pojo.unitId">
        INSERT INTO work_history (
            `unit_id`,
            `work_id`,
            `name`,
            `type`,
            `status`,
            `limit`
        ) VALUES (
            #{pojo.unitId},
            #{pojo.workId},
            #{pojo.name},
            #{pojo.type},
            #{pojo.status},
            #{pojo.limit}
        )
    </insert>


    <!--auto generated Code-->
    <update id="update">
        UPDATE work_history
        <set>
            <if test="pojo.unitId != null"> `unit_id` = #{pojo.unitId}, </if>
            <if test="pojo.workId != null"> `work_id` = #{pojo.workId}, </if>
            <if test="pojo.name != null"> `name` = #{pojo.name}, </if>
            <if test="pojo.type != null"> `type` = #{pojo.type}, </if>
            <if test="pojo.status != null"> `status` = #{pojo.status}, </if>
            <if test="pojo.limit != null"> `limit` = #{pojo.limit} </if>
        </set>
        WHERE unit_id = #{pojo.unitId}
    </update>
</mapper>

