@charset "UTF-8";


.event-calendar {
    padding: 4px 15px 8px 8px;
    .fc-toolbar.fc-header-toolbar {
        margin-bottom: 4px;
        .fc-button{
            height: 1.8em;
        }
        h2{
            font-size: 20px;
        }
    }
    .fc .fc-widget-header {
        background-color: #eee;
    }
    .fc-event {
        .fc-content {
            border: 0;
            padding: 2px 3px;
        }
        .fc-time {
            float: left;
            text-align: left;
            color: #fff;
            font-size: 14px;
            font-weight: 300;
            padding-right: 5px;
        }
        .fc-title {
            text-align: left;
            float: left;
            color: #fff;
            font-size: 14px;
            font-weight: 300;
        }
    }
    .fc-basic-view .fc-week-number, .fc-basic-view .fc-day-number {
        padding: 0px;
    }
}

.event-person{
    width: 50%;
}

.event-time-picker{
    width: 50%;
    .event-start,.event-end{
        width: 45%;
    }
}

.event-priority{
    margin-left: 5%;
}

.priority-label {
    display: inline-block;
    background-color: #F5F5F5;
    margin-right: 10px;
    font-size: 12px;
    padding: 7px 15px;
    text-transform: none;
    cursor: pointer
}

#pri-0:checked+label,#pri-1:checked+label,#pri-2:checked+label,#pri-3:checked+label,#pri-4:checked+label {
    font-weight: 600;
    color: #fff
}

#pri-0:checked+label {
    cursor: pointer;
    background: #999
}

#pri-1:checked+label {
    cursor: pointer;
    background: #d9534f
}

#pri-2:checked+label {
    cursor: pointer;
    background: #428bca
}

#pri-3:checked+label {
    cursor: pointer;
    background: #5bc0de
}

#pri-4:checked+label {
    cursor: pointer;
    background: #5cb85c
}

.event-detail{
    width:100%;
    padding: 20px 10px;
    position: absolute;
    height: 100%;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.3);
    .event-title-show{
        margin-top: 40px;
        margin-bottom: 25px;
    }
    .event-time-show{
        padding: 5px 0px;
        margin-bottom: 25px;
        border-bottom: 1px solid rgba(0,0,0,.1);
        span{
            padding-right: 8px;
        }
    }
    .event-person-show{
        padding: 5px 0px;
        margin-bottom: 25px;
        border-bottom: 1px solid rgba(0,0,0,.1);
        .label{
            display: inline-block;
            margin-right: 10px;
            font-size: 12px;
            padding: 7px 15px;
            text-transform: none;
            cursor: pointer
        }
    }
    .event-describe-show{
        margin-right: 10px;
        display: block;
    }
}

.right-fade{
    right: -320px;
    transition:right .3s;
    -moz-transition:right .3s;
    -webkit-transition:right .3s;
    -o-transition:right .3s;
    &.in{
        right: 0px;
    }
}
