@charset "UTF-8";


/*unit list*/
.unit-list {
  width: 18%;
  float: left;
  overflow-x: scroll;
}



.unit-work-list{
  width: 21%;
  float: left;
  margin-left: 0.5%;
  .table{
    overflow-x: scroll;
    overflow-y: scroll;
  }
}

.unit-detail {
  width: 40%;
  float: left;
  margin-left: 0.5%;
  padding: 8px;
  .btn{
    margin: 2px 5px;
  }
}

.unit-work-log{
  width: 19.5%;
  margin-left: 0.5%;
  float: left;
}

.work-log{
  .list-group-item{
    overflow: hidden;
  }
}