@charset "UTF-8";


/*unit list*/
.unit-list {
  width: 20%;
  float: left;
  overflow-x: scroll;
}

.ztree li span.button.switch.level0 {
  visibility: hidden;
  width: 1px;
}

.ztree li ul.level0 {
  padding: 0;
  background: none;
}

.unit-detail {
  width: 79%;
  float: left;
  margin-left: 1%;
  padding: 8px;
}